<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.jufuns.android.audioconverter">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <service
            android:name=".AudioConvertedService"
            android:enabled="true"></service>
    </application>
</manifest>

